In [ ]:
# Task 1
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Joined List:", list1)

Joined List: [1, 2, 3, 4, 5, 6]

In [ ]:
# Task 2
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [ ]:
# Task 3
student_grades = {
    "Alice": [92, 88],
    "Bob": [78, 84],
    "Charlie": [88, 90]
}
alice_grades = student_grades["Alice"]
bob_grades = student_grades["Bob"]
charlie_grades = student_grades["Charlie"]
print("Alice's Grades:", alice_grades)
print("Bob's Grades:", bob_grades)
print("Charlie's Grades:", charlie_grades)

Alice's Grades: [92, 88]
Bob's Grades: [78, 84]
Charlie's Grades: [88, 90]

In [ ]:
# Task 4
def find_odd_numbers(numbers):
    odd_numbers = []
    for num in numbers:
        if num % 2 != 0:
            odd_numbers.append(num)
    return odd_numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = find_odd_numbers(numbers)
print("Odd numbers:", odd_numbers)

Odd numbers: [1, 3, 5, 7, 9]

In [ ]:
# Task 5
def sum_list_numbers(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
numbers = (8, 2, 3, 0, 7)
result = sum_list_numbers(numbers)
print("Sum of numbers in the list:", result)

Sum of numbers in the list: 20